@tailwind base;

@tailwind components;

@tailwind utilities;

/**
    FORM ELEMENTS
*/
.text-input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight; 
}

.text-input:focus {
    @apply outline-none shadow-outline;
}

.select-input {
    @apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight;
}

.select-input:focus {
    @apply outline-none bg-white border-gray-500;
}

.button {
    @apply uppercase;
}

.button-disabled,
.button:disabled {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed;
}

.button-enabled {
    @apply bg-blue-500 font-bold px-4 py-2 rounded;
}

.button-enabled:hover {
    @apply bg-blue-600;
}


/**
    SIDEBAR
*/

#sidebar {
    height: 500px !important;
    background: #ffffff;
}

.dark #sidebar {
    background: #888888 !important;
}

/**
    FUNDRAISER ITEM
*/

.dark .select-none {
    background: #888888;
}

.dark .select-none div {
    color: #fff;
}

/**
    TOGGLE SWITCH
*/

.toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}
  
input:checked ~ .toggle__dot {
    transform: translateX(100%);
    background-color: #48bb78;
}

/**
    THEME
*/

.dark {
    background: linear-gradient(180deg, #090909, #2a2034, #8c4226) !important;
    background-size: 600% 600% !important;

    -webkit-animation: DarkTheme 0s ease infinite;
    -moz-animation: DarkTheme 0s ease infinite;
    animation: DarkTheme 0s ease infinite;
}

@-webkit-keyframes DarkTheme {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}
@-moz-keyframes DarkTheme {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}
@keyframes DarkTheme {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}