@tailwind base;

@tailwind components;

@tailwind utilities;

/**
    FORM ELEMENTS
*/
.text-input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight; 
}

.text-input:focus {
    @apply outline-none shadow-outline;
}

.select-input {
    @apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight;
}

.select-input:focus {
    @apply outline-none bg-white border-gray-500;
}

.button {
    @apply uppercase;
}

.button-disabled,
.button:disabled {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed;
}

.button-enabled {
    @apply bg-blue-500 font-bold px-4 py-2 rounded;
}

.button-enabled:hover {
    @apply bg-blue-600;
}

.button-wrapper {
    @apply border-t mb-3 mt-10 pt-10 relative w-full;
}


/**
    SIDEBAR
*/

#sidebar {
    height: 500px !important;
    background: #ffffff;
}


/**
    TOGGLE SWITCH
*/

.toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}
  
input:checked ~ .toggle__dot {
    transform: translateX(100%);
    background-color: #48bb78;
}

/**
    ITEM
*/
.fund-amount {
    @apply text-xs bg-green-500 px-3 py-1 rounded text-gray-600 text-white; 
}

/**
    THEME
*/

.dark #sidebar {
    background: #3f415a !important;
}

.dark .select-none {
    background: #3f51b5;
}

.dark .select-none div {
    color: #fff;
}

.dark {
    background: linear-gradient(180deg, #090909, #2a2034, #8c4226) !important;
    background-size: 600% 600% !important;

    -webkit-animation: DarkTheme 0s ease infinite;
    -moz-animation: DarkTheme 0s ease infinite;
    animation: DarkTheme 0s ease infinite;
}

.dark label {
    color: #b5b7c7;
}

.dark select,
.dark input[type=text] {
    background: #36384c;
    border-color: #292b2a;
    color: #b5b7c7;
}

.dark .button-wrapper {
    @apply border-gray-600;
}

.dark .button-enabled {
    background: #e28a07 !important;
}

.dark .button-disabled {
    background: #c1a675 !important;
}

.dark .button-wrapper span {
    color: #c9cbe2 !important;
}

.dark .fund-amount {
    @apply bg-blue-900;
}

@-webkit-keyframes DarkTheme {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}
@-moz-keyframes DarkTheme {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}
@keyframes DarkTheme {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}